<!DOCTYPE html>
<html lang="en">
<head>
    <!-- 팁 생성을 위한 폼 입력 페이지 !-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{background-color: black; color:white;}
        form{text-align: center;}
    </style>
</head>
<body>
    <form method="post" action="">
        <p>제목 : <input type="text" style="width: 300px; height: 30px;" id="title" name="title"> 캐릭터 : <input type="text" id="ch" name="ch" style="width: 300px; height: 30px;"></p>
        <p>분류 : <input type="text" id="type" name="type" style="width: 900px; height: 30px;"></p>
        <p>내용 : <textarea cols="200" rows="50" id="context" name="context"></textarea></p>
        <p><input type="submit" value="제출"></p>
    </form>
</body>
</html>