<!DOCTYPE html>
<html lang="en">
<head>
    <!-- 메인 페이지 이자 전적 검색 페이지 !-->

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>블랙서바이벌 전적검색</title>
    <link href="./css/index.css" rel="stylesheet">
    <style>

    </style>
    <img src="./img/타이틀.jpg" id="title">
</head>
<body>
    <h1>블랙서바이벌 전적검색 및 공략 사이트입니다.</h1>
    <form method="post" action="/Users/ex">
        <p>
             <input type="text" name="id" id="id" size="70" maxlength="60" placeholder="닉네임을 입력해주세요." required autofocus>
             <!--<img src="검색 아이콘.png"> !-->
        </p>  
    </form>
    <div>
        <a class= "Btn" href="/soloInfo">솔로 정보</a>
        <a class= "Btn" href="/tip/list">Tip 게시판</a>
    </div>
    <img src="./img/캐릭터@.png" usemap="#피오라" id="MapImg">
</body>
    
</body>
</html>